.report_header {
    display: flex;
    height: 40px;
    align-items: center;
    width: 40%;
    margin-left: 2%;
    color: #7E6EF2;
}
.report_header span {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border: 1px solid #7E6EF2;
    cursor: pointer;
}



.report_input_div {
    display: flex;
    border: 2px solid #000000;
    border-radius: 4px;
    background-color: #fff;
    height: 30px;
    width: 45%;
    margin-left: 2%;
}

.report_input_div input {
    width: 90%;
    border: none;
    outline: none;
    padding-left: 2px;
}

.report_input_div {
    width: 20%;
    display: flex;
    align-items: center;

}

.report_popup_message {
    font-family: Noto Sans;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}
.report_popup_title {
    background-color: #7E6EF2;
    height: 45px;
    padding-right: 0px;

}

.report_popup_closeIcon {
    display: flex;
    margin-top: 8px;
    margin-left: auto;
}
.report_cont_head {
    display: flex;
    justify-content: space-between;
}

.report_cont_head img:hover {
    cursor: pointer;
}
